* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.parent { 
  width: 150%; 
  margin: 0 auto;
}
.row { 
  width: 100%;
  letter-spacing: -0.31em;
}
.col1, .col2, .col3 { 
  display: inline-block;
/*  vertical-align: top, bottom;*/
  border: 1px solid black;
  background-color: rgba(229, 243, 186, 1);
  letter-spacing: normal;
}
.col1 {
  width: 33%;
}
.col2 {
  width: 33%;
}
.col3 {
  width: 33%;
}

td {
  vertical-align: top;
}

h2 {
  padding-bottom: 30px;
}